<div class="album py-5 bg-light">
  <div class="container">
    <button
      type="button"
      class="btn btn-success mb-5"
      routerLink="/libros/crear"
      data-toggle="modal"
      data-target="#formularioLibro">
        Nuevo Libro
    </button>
    <div class="row mb-4">
      <div class="col-md-4">
        <div class="btn-group" role="group" aria-label="Filtrado libros">
          <button type="button" class="btn btn-info mr-2" (click)="mostrarLibrosActivos()">Activos</button>
          <button type="button" class="btn btn-info mr-2" (click)="mostrarLibrosNoActivos()">No activos</button>
          <button type="button" class="btn btn-info" (click)="mostrarTodosLibros()">Todos</button>
        </div>
      </div>
      <div class="col-md-8">
        <input class="form-control float-right" id="buscar" type="search" [(ngModel)]="textoBusqueda" name="buscar"
               placeholder="Buscar por título o autor" aria-label="búsqueda">
      </div>
    </div>
    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-4 mt-2">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text">Ordenar</label>
          </div>
          <select class="custom-select" [(ngModel)]="nombreCampoOrdenar" (change)="cambiarOrdenacionLibros()">
            <option value="ninguno">-- Seleccione una opción --</option>
            <option value="autor">Autor</option>
            <option value="titulo">Título</option>
            <option value="precio">Precio</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row mt-3" *ngIf="libros.length != 0; else sinLibros">
      <app-libro *ngFor="let libro of libros | buscarTituloAutor:textoBusqueda" [libro]="libro"
                 (actualizarLibreria)="actualizarLibreria($event)"></app-libro>
    </div>

    <p *ngIf="(libros | buscarTituloAutor:textoBusqueda) == null">No existe ningún libro con el término de búsqueda
      introducido</p>

    <ng-template #sinLibros>
      <p>No existe ningún libro</p>
    </ng-template>
  </div>
</div>
